{% block sw_product_bundle_create_form %}
<div class="product-bundle-create-form">
    <!-- Bundle Name Field -->
    <sw-inherit-wrapper
        v-model:value="productBundle.translations[languageId].name"
        :has-parent="!!parentProduct.id"
        :inherited-value="getInheritValue('translations', 'name')"
    >
        <template #content="props">
            <sw-text-field
                :map-inheritance="props"
                :value="props.currentValue"
                :disabled="props.isInherited || !allowEdit"
                :label="$tc('sw-product-bundle.create.labelTitle')"
                :required="isTitleRequired"
                name="sw-field--bundle-name"
                :error="productBundleNameError"
                @update:value="props.updateCurrentValue"
            />
        </template>
    </sw-inherit-wrapper>

    <!-- Add Products to Bundle Section -->
    <sw-data-grid
        :columns="columns"
        :dataSource="availableProducts"
        :selectionMode="'multiple'"
        v-model:selection="selectedProducts"
        :rowKey="product => product.id"
    >
        <template #column-actions="{ item }">
            <sw-button
                variant="danger"
                @click="removeProductFromBundle(item)"
                icon="default-action-delete"
            >
                {{ $tc('sw-product-bundle.create.removeProduct') }}
            </sw-button>
        </template>
    </sw-data-grid>

    <!-- Save / Cancel Buttons -->
    <div class="product-bundle-create-form__buttons">
        <sw-button
            variant="primary"
            :disabled="saveDisabled"
            @click="saveBundle"
        >
            {{ $tc('sw-product-bundle.create.saveButton') }}
        </sw-button>
        <sw-button
            variant="default"
            @click="cancel"
        >
            {{ $tc('sw-product-bundle.create.cancelButton') }}
        </sw-button>
    </div>
</div>
{% endblock %}
