<sw-page
    class="sw-generic-custom-entity-detail"
>
    <template #smart-bar-header>
        <h2 class="sw-generic-custom-entity-detail__title">
         {{ $tc('sw-product-bundle.list.textProductBundles') }}
        </h2>
    </template>

    <template #smart-bar-actions>
        <sw-button-process
            class="sw-generic-custom-entity-detail__save-action"
            :is-loading="isLoading"
            :process-success="saveSuccess"
            variant="primary"
            :disabled="isLoading"
            @update:process-success="saveFinish"
            @click="saveProductBundle"
        >
            {{ $tc('global.default.save') }}
        </sw-button-process>
        <template>
            <sw-confirm-modal
                v-if="showDeleteConfirmModal"
                :text="$tc('sw-product-bundle.detail.deleteConfirmTitle')"
                type="delete"
                @confirm="confirmDeleteProductBundle"
                @cancel="showDeleteConfirmModal = false"
                @close="showDeleteConfirmModal = false"
            >
                <p>{{ $tc('sw-product-bundle.detail.deleteConfirmMessage') }}</p>
            </sw-confirm-modal>

            <sw-button variant="danger" @click="showDeleteModal">
                {{ $tc('global.default.delete') }}
            </sw-button>
        </template>

    </template>

    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage" />
    </template>

    <template #content>
        <sw-card-view>
            <sw-card :title="$tc('sw-product-bundle.detail.general')">
                <sw-text-field  v-model="productBundle.name"
                    @update:value="productBundle.name = $event" label="Bundle Name" required  />
            </sw-card>
            <sw-card :title="$tc('sw-product-bundle.detail.products')">
                <div v-for="(product, index) in selectedProducts" :key="index" class="sw-product-bundle-product-row">
                    <div class="sw-product-bundle-product-name">
                        <span>{{ product.product.translated.name ?? 'N/A' }}</span> <!-- Product Name -->
                    </div>
                    <div class="sw-product-bundle-product-quantity">
                        <sw-number-field
                            v-model="product.quantity"
                            :min="1"
                            :required="true"
                        />
                    </div>
                    <div class="sw-product-bundle-product-delete">
                        <sw-button
                            variant="danger"
                            @click="deleteProductFromBundle(product.productId)"
                        >
                            {{ $tc('global.default.delete') }}
                        </sw-button>
                    </div>
                </div>

                <div class="sw-product-bundle-add-product">
                   <sw-entity-single-select
                        v-model="newProduct.productId"
                        entity="product"
                        :label="$tc('sw-product-bundle.detail.product')"
                        :required="true"
                         @update:value="newProduct.productId = $event"
                        />
                    <sw-number-field
                        v-model="newProduct.quantity"
                        :label="$tc('sw-product-bundle.detail.quantity')"
                        :min="1"
                        @update:value="newProduct.quantity = $event"
                        :required="true"
                    />
                    <sw-button
                        variant="primary"
                        @click="addProductToBundle"
                        :disabled="isProductInBundle(newProduct.productId)"
                    >
                        {{ $tc('global.default.add') }}
                    </sw-button>
                </div>
            </sw-card>

        </sw-card-view>
    </template>
</sw-page>
